<div>

  <div class="drop-box" ng2FileDrop
       [ngClass]="{'dragover': isDropOver}"
       [uploader]="uploader"
       (fileOver)="fileOverAnother($event)"
       (click)="fileClicked()">
    <span class="drag-in-title">Import or drag image here</span>
    <span class="drag-over-title">Drop the file</span>
</div>
<input #fileInput type="file" ng2FileSelect [uploader]="uploader"/><br />

<button type="button" class="btn btn-success btn-s"
  (click)="uploader.uploadAll()"
  [disabled]="!uploader.getNotUploadedItems().length" >
      Upload an Image
</button>


</div>

<router-outlet></router-outlet>
